:root {
  --light_navy_blue: #3c3f51;
  --orange: #dcab56;
  --dark_blue: #1b203d;
  --light_grey: #f1f1f1;
  --gray: #707070;
}

/* Global styles including mobile styles*/

body {
  margin: 0;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light_navy_blue);
}

li a {
  display: inline-block;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  padding: 16px 58px;
  margin: 0px 16px;
}

p img {
  float: left;
  margin-right: 20px;
  max-height: 200px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: var(--gray);
  text-align: center;
}

p.sale {
  float: left;
  margin: 0 0 0 30px;
}

li:hover {
  background-color: var(--dark_blue);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--light_navy_blue);
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--orange);
  font-size: 20px;
  text-align: center;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  color: var(--gray);
  margin: 10 23;
}

h5 {
  margin: 0;
  text-align: center;
  padding-top: 75px;
}

footer {
  background-color: var(--light_grey);
}

.footer_position {
  position: absolute;
  width: 100%;
  bottom: 0;
  max-height: min-content;
}

.footericons_flexbox_container {
  display: flex;
  flex-wrap: wrap;
}
.footericons {
  width: 20px;
  float: left;
  margin-left: 5px;
}

.footer_flexbox_container {
  display: flex;
  justify-content: center;
}

.footer_flexbox {
  height: 100%;
  width: 100px;
  padding: 10px;
  margin: 10px 50px 30px 50px;
}

.footer_text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.icon_flexbox_container {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
}

.icon_flexbox {
  margin: 5px 10px;
}

.form-background {
  margin: auto;
  background-color: var(--orange);
  border-radius: 20px;
  max-width: 50%;
  padding: 20px;
  margin-bottom: 30px;
}

.input-width {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
}

.gamecovers {
  max-width: 166px;
  height: 235px;
}

.logo {
  width: 217px;
  height: 137px;
  position: absolute;
  z-index: 3;
  top: 30px;
  left: 50px;
}

.sale_flexbox {
  width: auto;
  margin: 41px 20px 41px 20px;
  background-color: white;
}

.flexbox_container {
  display: flex;
  justify-content: center;
}

.orange_background {
  background-color: var(--orange);
}

.red_font {
  color: red;
}

.main_flexbox {
  margin: 41px 20px 41px 20px;
  border: var(--orange) 1px solid;
}

.box {
  background-image: url("/images/game_headers/doom_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 150px;
  margin: 0;
}

.flexbox_wrap {
  flex-wrap: wrap;
}

.text_align_left {
  text-align: left;
}

.bio_container {
  margin: auto;
  max-width: 50%;
  height: auto;
}

.grid_game {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 30px;
  margin-top: 20px;
}

.grid_container_screenshots {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 166px 166px;
  grid-template-rows: 138px 138px;
}

.cart {
  z-index: 3;
  display: block;
  position: absolute;
  left: 25%;
  right: 50%;
  background-color: aqua;
  color: #dcab56;
  height: 620px;
  width: 60%;
  border-radius: 25px;
}

.separator {
  border-top: var(--light_navy_blue) solid 1px;
  width: 80%;
  margin: auto;
}

.payment_logo {
  display: block;
  height: 165px;
  width: 264px;
  margin: auto;
  margin-bottom: 10px;
}

.max_widht {
  width: 100%;
}

.button {
  background-color: var(--light_navy_blue);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 10px;
}

/* Media query for tablets and large phones*/

@media only screen and (max-width: 640px) {
  .logo {
    display: none;
  }

  li a {
    padding: 16px 16px;
    margin: 0px 16px;
  }

  .flexbox_container_game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* Media query for laptops*/

@media only screen and (max-width: 1200px) {
  .logo {
    display: none;
  }

  li a {
    padding: 16px 16px;
    margin: 0px 16px;
  }

  .flexbox_container_game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5px;
  }
}

/* Media query for desktops*/

@media only screen and (min-width: 1200px) {
}
