:root {
  --light_navy_blue: #3c3f51;
  --orange: #dcab56;
  --dark_blue: #1b203d;
  --light_grey: #f1f1f1;
}

/* Global styles including mobile styles*/

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--light_navy_blue);
}

li a {
  display: inline-block;
  color: #f1f1f1;
  text-align: center;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  padding: 16px 58px;
  margin: 0px 16px;
}

li:hover {
  background-color: var(--dark_blue);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--light_navy_blue);
  font-size: 30px;
  text-align: center;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: orange;
  font-size: 20px;
  text-align: center;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #707070;
  margin: 10 23;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #707070;
  text-align: center;
}

.red_font {
  color: red;
}

.footericons_flexbox_container {
  display: flex;
  flex-wrap: wrap;
}
.footericons {
  width: 20px;
  float: left;
  margin-left: 5px;
}

.footer_flexbox_container {
  display: flex;
  justify-content: center;
  background-color: var(--light_grey);
}

.footer_flexbox {
  width: 100px;
  padding: 10px;
  margin: 10px 50px 10px 50px;
}

.footer_text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.icon_flexbox_container {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
}

.icon_flexbox {
  margin: 5px 10px;
}

.form-background {
  margin: auto;
  background-color: var(--orange);
  border-radius: 20px;
  max-width: 50%;
  padding: 20px;
  margin-bottom: 30px;
}

.input-width {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
}

.button {
  background-color: var(--dark_blue);
  border: 0;
  border-radius: 20px;
  color: white;
}

.button_align {
  text-align: center;
}

.gamecovers {
  max-width: 166px;
  height: 235px;
}

.logo {
  width: 217px;
  height: 137px;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 50px;
}

p.sale {
  float: left;
  margin: 0 0 0 30px;
}

.sale_flexbox_container {
  display: flex;
  justify-content: center;
  background-color: var(--orange);
  flex-wrap: wrap;
}
.sale_flexbox {
  width: auto;
  margin: 41px 20px 41px 20px;
  background-color: white;
}

.main_flexbox_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main_flexbox {
  margin: 41px 20px 41px 20px;
  border: var(--orange) 1px solid;
}

.box {
  background-color: blue;
  width: auto;
  height: 125px;
}

.profile_pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* Media query for tablets and large phones*/

@media only screen and (max-width: 640px) {
  .logo {
    display: none;
  }

  li a {
    padding: 16px 16px;
    margin: 0px 16px;
  }
}

/* Media query for laptops*/

@media only screen and (max-width: 1200px) {
  .logo {
    display: none;
  }
  li a {
    padding: 16px 16px;
    margin: 0px 16px;
  }
}

/* Media query for desktops*/

@media only screen and (min-width: 1200px) {
}
